.App {
  font-family: Arial;
}

.active {
  border-bottom: 2px solid #66b3ff;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
}

.menu__item {
  margin: 10px;
}

.menu__item-link {
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item-link {
  color: black;
}

.tabs {
  list-style: none;
  display: flex;
}

.tab {
  padding: 5px 30px;
  color: #66b3ff;
  font-size: 12px;
  text-transform: uppercase;
}

.tab__link {
  text-decoration: none;
}

.tab__link:visited {
  color: black;
}
